main{
  background-color: rgb(30,45,59);
}
img{
  height: 200px;
  width:150px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
ul{
  background-color: rgb(46,58,70);
  margin: 10px 20px;
  text-align: center;
  padding: 10px;
  height: 430px;
  width: 200px;
  cursor:pointer;
  li:nth-child(2){
    color:white;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  li:nth-child(3){
    color:grey;
  }
  li:nth-child(4){
    color:grey;
  }
}
li{
  padding-left:5px;
  padding-right:5px;
}
